* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url(./starter-code/images/pattern-background-desktop.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: top;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: hsl(225, 100%, 98%);
}

.picture {
  height: 33%;
  width: 100%;
  background-image: url(./starter-code/images/illustration-hero.svg);
  background-position: center;
  background-size: 100%;
  border-radius: 20px 20px 0 0px;
}


.content {
  height: 67%;
  padding: 10%;
  margin: 0;
}

.order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order h2 {
  font-weight: 900;
  margin-bottom: 15px;
  color: hsl(223, 47%, 23%);
}

.order p {
  text-align: center;
  margin-bottom: 15px;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}

.music {
  background-color: hsl(227, 100%, 96%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.music img {
  width: 25%;
  padding: 5%;
}

.music a {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10%;
  font-weight: 700;
}

.rate {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

.rate h4 {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.rate p {
  font-weight: 500;
  color: hsl(224, 23%, 55%);
}

.payment {
  background-color: hsl(245, 75%, 52%);
  width: 100%;
  padding: 3%;
  border: none;
  border-radius: 10px;
  color: whitesmoke;
  font-weight: 700;
  margin-bottom: 10px;
}
.cancel {
  font-weight: 900;
  border: none;
  width: 100%;
  padding: 3%;
  border-radius: 10px;
  color: hsl(224, 23%, 55%);
  background-color: transparent;
}
